.main {
    height: 100%;
    width: 100%;
  }
  .data {
    height: 100%;
    width: 100%;
  }
  .heading {
    height: 100%;
    width: 100%;
  }
  .teacherName {
    height: 100%;
    width: 100%;
  }
  .announcements {
    height: 100%;
    width: 100%;
  }
  .assignment {
    height: 100%;
    width: 100%;
  }
  .card {
    height: 100%;
    width: 100%;
  }
  .text {
    height: 100%;
    width: 100%;
  }
  .time {
    height: 100%;
    width: 100%;
  }
  